@import "./var.scss";

html{
  overflow: hidden;
  color: $words;
}
body{
  overflow: hidden;
  margin: 0;
} 
a{
  text-decoration: none;
  color: inherit;
  &:hover{
    cursor: pointer;
    color: $primary;
  }
}